# Unity
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
!docs/Build/
[Ll]ogs/
[Uu]serSettings/

# IDE
.vs/
.idea/
.vscode/
*.csproj
*.sln
*.slnx
.vsconfig

# OS
.DS_Store

# Misc
*.log
*.tmp
*.bak

# Builds
[Ww]eb[Gg][Ll]*/
[Bb]uild/
[Bb]uilds/
!docs/Build/
